<ng-container *ngIf="articleList().length !== 0; else noArticle">
  <ng-container *ngFor="let article of articleList()">
    <app-article [article]="article" (toggleFavorite)="toggleFavorite.emit($event)"></app-article>
  </ng-container>
</ng-container>

<ng-template #noArticle>
  <div id="no-article" class="py-4">Il semblerait qu'aucune publication, article, ou contribution écrite ne soit actuellement disponible dans cette section particulière de notre plateforme. Cependant, nous vous invitons à patienter car de nouveaux contenus passionnants pourraient faire leur apparition à tout moment dans un futur proche.</div>
</ng-template>
